<h1>New Restaurant</h1>

<%= render 'form', restaurant: @restaurant %>

<%= link_to 'Back to Restaurants', restaurants_path %>

<h1>New Review</h1>

<%= render 'form', review: @review %>

<%= link_to 'Back to Restaurant', restaurant_path(@restaurant) %>
